@import "../../../sass/variables.scss";
@import "../../../sass/styleGuide.scss";

.quick-links-nav {
  color: black;
  display: flex;
  font-family: $fontBodyType;
  font-size: $fontSmall;
  font-weight: 600;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  li {
    height: 40px;
    padding: 10px 0;
    width: 100%;
    margin-left: 5px;
    max-width: fit-content;

    a {
      color: black;
      &:hover {
        color: green;
      }
    }
  }
}
