@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin animationDefaultLeftRightFadeIn {
  opacity: 0;
  transition: transform 200ms linear;
  will-change: transform;
}

.animationLeft {
  animation: fadein 3s 1;
  transform: translatex(0px);
  transition: transform 300ms linear;
  will-change: transform;
}
.animationZero {
  @include animationDefaultLeftRightFadeIn;
  transform: translatex(-600px);
}

.animationZero2 {
  @include animationDefaultLeftRightFadeIn;
  transform: translatex(600px);
}

.animationUP {
  @include animationDefaultLeftRightFadeIn;
  transform: translateY(300px);
}
