@import "../../sass/variables.scss";

.backgroundcolorFill {
  @include FlexRowCenter;
  background-color: white;
}
.nav-upper-section {
  -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.5);
  @include FlexRowCenter;
  background-color: white;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.5);
  height: 60px;
  justify-content: space-between;
  position: fixed;
  z-index: 999;

  .wrapper {
    @include FlexRowCenter;
    height: 100%;
    justify-content: space-between;
    width: 100%;
  }

  .siteimage {
    height: clamp(2.5rem, 2.2619rem + 1.1905vw, 3.75rem);
    max-width: fit-content;
    padding: 10px;
    width: fit-content;

    img {
      @include Maxsize100;
    }
  }
  nav {
    @include FlexRowCenter;
    @include UlNormalize;
    flex-shrink: 3;
    height: 100%;
    justify-content: flex-end;
  }
  .shoppingCartIcon {
    margin-left: 20px;
  }

  .mobile-button-nav {
    @include FlexColumnCenter;
    display: none;
    background-color: white;
    border: none;
    border-radius: 90%;
    cursor: pointer;
    height: 35px;
    justify-content: center;
    transition: background-color 0.5s ease-in;
    width: 35px;

    &:hover {
      background-color: darken($color: white, $amount: 20%);
      transition: background-color 0.5s ease-in;
    }
  }
  ul {
    @include FlexRowCenter;
    @include UlNormalize;
    height: 100%;
    justify-content: space-evenly;

    li {
      align-items: center;
      border: 4px solid transparent;
      cursor: pointer;
      display: flex;
      font-family: "Barlow", "Times New Roman", Times, serif;
      font-weight: 600;
      height: 100%;
      justify-content: center;
      margin-right:20px;
      position: relative;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      &:hover a {
        color: green;
      }
    }

    li::after {
      align-items: center;
      background-color: goldenrod;
      bottom: 5px;
      content: "";
      display: flex;
      height: 4px;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
      transform-origin: bottom left;
      transform: scaleX(0);
      transition: transform 0.25s ease-out;
      width: 100%;
    }

    li:hover::after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
    li:last-of-type {
      margin-right: 0;
    }
    a {
      align-items: center;
      color: black;
      display: flex;
      height: 100%;
      width: 100%;

      &:hover {
        color: green;
      }
    }

    .active {
      color: green;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .nav-upper-section {
    .mobile-button-nav {
      display: flex;
    }
    ul {
      display: none;
    }
  }

  .shoppingCartIcon {
    margin-right: 10px;
  }
}
