@import "../../sass/variables.scss";

footer {
  @include FlexColumnCenter;
  background-image: url("../../../public/assets/images/footer/cow.png");
  background-position: bottom;
  background-repeat: no-repeat;
  height: fit-content;
  justify-content: center;
  max-height: fit-content;
  min-height: 550px;
 
  position: relative;
  width: 100%;
  .wrapper {
    @include FlexColumnCenter;
    height: fit-content;
    justify-content: center;
    max-height: fit-content;
    min-height: 550px;
    width: 100%;
    padding: clamp(6.25rem, 7.5195rem + -3.9063vw, 3.125rem) clamp(1.25rem, -5.8594rem + 21.875vw, 18.75rem);
  }

  h3 {
    margin-top: 0;
  }

  .social-header {
    display: none;
  }

  input {
    border-radius: 5px;
    border: none;
    border: solid 1px lightgrey;
    padding: 10px;
  }

  .imageContainer {
    height: clamp(2.5rem, 2.2619rem + 1.1905vw, 3.75rem);
    max-width: fit-content;
    padding: 10px;
    width: fit-content;

    img {
      @include Maxsize100;
    }
  }
  p {
    margin: auto;
  }

  .content {
    @include FlexRow;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .column {
    @include FlexColumn;
    width: 22%;
    max-width: clamp(20rem, 22.5391rem + -7.8125vw, 13.75rem);;

    .column-ul {
      @include UlNormalize;
    }
  }
  .credits {
    align-items: center;
    bottom: 0;
    color: black;
    display: flex;
    height: 60px;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
    p {
      color: white;
      font-weight: 600;
      margin: 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 840px) {

  footer {
    .social-header {
      display: inline;
    }
    .content {
      justify-content: center;
      width: 100%;
    }
    .column {
      width: 100%;
      margin-bottom: 20px;
  
      .column-ul {
        @include UlNormalize;
        @include FlexRowCenter;
      }
    }
  }
}