@import "../../sass/variables.scss";

@mixin side-default {
  background-color: white;
  padding: 40px 40px;
  width: 100%;
}

.bannerBackground {
  @include backgroundImageCenterCoverNORepeat;
  background-image: url("../../../public/assets/images/contact/contact.jpg");
  min-height: 280px;
  position: relative;

  h2 {
    bottom: -40px;
    color: rgb(4, 178, 4);
    font-size: 5rem;
    left: 25%;
    margin: 0;
    position: absolute;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
      -1px 1px 0 black, 3px 3px 5px #333;
    text-transform: uppercase;
  }
}

.blog-section {
  background-color: #d9d6d6;
  min-height: 100vh;

  h2,
  h3 {
    text-transform: uppercase;
    margin: 0;
  }

  .wrapper {
    padding: 50px 0;
  }

  .content {
    @include FlexRow;
    justify-content: space-between;

    aside {
      width: 35%;
      .side-image {
        @include side-default;
        margin-bottom: 40px;
        border-bottom: solid green 5px;
      }

      h3 {
        margin: 10px 0;
      }

      p {
        margin: 0;
      }

      .recent-posts {
        @include side-default;
        border-bottom: solid green 5px;

        li {
          position: relative;
          padding-left: 20px;
          margin: 10px 0;
        }

        li::before {
          content: "";
          display: inline-block;
          background-color: green;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          position: absolute;
          top: 45%;
          left: 0;
        }
      }

      p {
        max-width: 320px;
      }
    }
    .content-blog {
      max-width: 600px;
      width: 60%;

      .blog {
        background-color: white;
        border-bottom: solid green 5px;
        margin-bottom: 40px;
        max-width: 600px;
        padding: 40px;
        width: 100%;

        .content-text-blog {
          margin: 20px 0px;
        }
      }

      form {
        @include FlexColumn;
        justify-content: space-between;
        width: 100%;
        min-height: 300px;
        border-bottom: green 5px solid;

        .upper-form {
          @include FlexRow;
          justify-content: space-between;
          width: 100%;
        }

        input {
          padding: 2%;
          width: 45%;
        }

        button {
          background-color: green;
          border: none;
          color: white;
          font-weight: 600;
          height: 50px;
        }
        textarea {
          height: 160px;
          max-height: 160px;
          max-width: 100%;
        }
      }

      .posts {
        width: 100%;

        p {
          margin: 0;
          margin-bottom: 10px;
        }

        li {
          @include FlexRowCenter;
          background-color: white;
          border-bottom: solid green 5px;
          justify-content: space-between;
          margin-bottom: 40px;
          padding: 20px 20px;

          .image-container {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: clamp(3.75rem, 3.0357rem + 3.5714vw, 7.5rem);
            max-width: clamp(3.75rem, 3.0357rem + 3.5714vw, 7.5rem);
            outline: solid black 3px;
            width: 20%;
          }

          .post-text-content {
            min-width: 180px;
            width: 70%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 999px) {

  .blog-section {

    .content {
      justify-content: center;
  
      aside {
        display: none;
      }
      .content-blog {
        max-width: 600px;
        width: 100%;
      }
    }
  }
}