@import "../../../../sass/variables.scss";

.recent-products {
  li {
    @include FlexRowCenter;
    height: 80px;
    padding: 10px 0;
    width: 100%;

    img {
      height: 100%;
      margin-right: 20px;
      width: 60px;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 999px) {
  .recent-products {
    display: flex;
    flex-direction: row;

    li:nth-child(n + 3) {
      display: none;
    }
  }
}
