@import "../../../sass/variables";

.our-products-section {
  height: fit-content;
  min-height: 100vh;
  min-height: 730px;
  min-width: 100%;

  .wrapper {
    height: fit-content;
    padding: 10% 0;
  }

  .content {
    @include FlexColumnCenter;
    height: 100%;
    width: 100%;
    .loadMoreButton {
      margin-top: 50px;
      text-transform: uppercase;
      background-color: green;
      color: white;
      padding: 10px 20px;
      font-weight: 600;
      border: none;
      border-radius: 25px;

    }
    .gallery-content {
      align-items: baseline;
      display: grid;
      grid-gap: 40px 20px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 210px));
      justify-content: center;
      width: 100%;

      .gallery-item {
        position: relative;

        .imageContainer {
          width: 100%;
        }
        .bottomTextContainer {
          border: dotted 1px lightgrey;
          border-top: none;
          padding: 20px;

          h4 {
            margin: 10px 0;
            letter-spacing: 2px;
          }

          p {
            margin: 0;
            margin: 10px 0;
          }
        }

        .gallery-price-container {
          @include FlexRowCenter;
          .gallery-price-normal {
            text-decoration: line-through;
          }

          p {
            margin-right: 10px;
            color: green;
          }
        }

        button {
          background-color: green;
          border-radius: 25px;
          border: none;
          bottom: -20px;
          color: white;
          cursor: pointer;
          padding: 10px 20px;
          position: absolute;
          text-transform: capitalize;
          z-index: 1;

          &:hover {
            background-color: goldenrod;
          }
        }
      }
    }
  }
}
