@import "../../../../sass/variables.scss";

.icons-social-gallery {
  width: 100%;

  ul {
    @include FlexRowCenter;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;

    li {
      @include FlexColumnCenter;
      background-color: green;
      border-radius: 90%;
      cursor: pointer;
      height: 40px;
      justify-content: center;
      transform: scale(1);
      transition: background-color 200ms ease-in, transform 300ms linear;
      width: 40px;

      &:hover {
        background-color: goldenrod;
        color: green;
        outline: solid black 1px;
        transition: background-color 200ms ease-in,  transform 300ms linear;
        transform: scale(1.05);
      }
      img {
        height: 14px;
      }
    }
  }
}
